@value tokens: "./Vars.module.css";

.container {
  width: 100%;
  height: 100%;
  max-width: 120rem;
  padding: var(--marginSmall);
  margin: 0 auto;
  display: grid;
}

.title {
  color: var(--clrSalmon);
  margin-bottom: 3rem;
}

.title__start {
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.title__end {
  font-size: 4.8rem;
  font-family: var(--fontTitle);
  font-weight: bold;
}

.subtitle {
  composes: subtitle from './Vars.module.css';
}

.subtitle__container {
  composes: subtitle__container from './Vars.module.css';
}

.searchbar {
  width: 100%;
  padding: 1.6rem 2rem 1.4rem 5.4rem;
  font-size: 2rem;
  font-weight: 300;
  color: #808080;
  background-color: #F0F0F0;
  border: none;
  border-radius: 1.2rem;
  background-image: url('../public/images/icon-search.svg');
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 3.2rem;
}

.searchbar::placeholder {
  color: #C0C0C0;
}

.recommended__item {
  cursor: pointer;
  display: grid;
  border-radius: 1.2rem;
  overflow: hidden;
  width: fit-content;
}

.recommended__item > * {
  grid-column: 1;
  grid-row: 1;
  width: calc(100vw - (var(--marginSmall) * 2));
  height: calc(67vw - (var(--marginSmall) * 2));
}

.recommended__info {
  z-index: 2;
  padding: 1.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0.6) 100%);
}

.rotd__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.rotd__name {
  font-size: 2.4rem;
  font-weight: 600;
}

.btn__sort {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: white;
  border: none;
}

.btn__sort:hover {
  background-color: #E0E0E0;
}

.recipes {
  display: grid;
}

.recipe {
  cursor: pointer;
  width: 100%;
  height: 8rem;
  display: grid;
  grid-template-columns: 8rem auto;
  grid-gap: 0 1rem;
  overflow: hidden;
  border-radius: 1.2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}

.recipe:hover {
  color: white;
  background-color: var(--clrSalmon);
}

.recipe__img {
  width: 100%;
  border-radius: 1.2rem;
  overflow: hidden;
  grid-row: span 2;
}

.recipe__img img {
  object-fit: cover;
}

.recipe__name {
  align-self: end;
  font-size: 2rem;
  font-weight: 600;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

.recipe__ingredients {
  font-size: 1.6rem;
  font-weight: 400;
  text-overflow: ellipsis;
}

.footer {
  margin-top: auto;
  align-self: flex-end;
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

@media (min-width: 520px) {
  .recommended__item > * {
    width: 48rem;
    height: 32rem;
  }
}

@media (min-width: 700px) {
  .container {
    padding: 4rem;
  }

  .recipes {
    grid-template-columns: repeat(2, 1fr);
  }
}